{{ define "main" }}
<section class="hero-wrapper">
  <div class="hero-inner">

    <h1 class="hero-title">
      Hello,<br />
      I am Suawiu.
    </h1>

    {{ with .Site.Params.Author.greeting }}
    <p class="hero-description">
      {{ . | markdownify }}
    </p>
    {{ end }}

    <div class="hero-contact">
      <h2>Connect.</h2>

      <div class="contact-icons">
        {{ range .Site.Params.Links }}
        {{ range $type, $url := . }}
        {{ $iconPath := resources.Get (print "icons/" $type ".svg") }}
        <a href="{{ $url }}" target="_blank" rel="noopener noreferrer" aria-label="{{ $type }}" class="contact-icon">
          {{ if $iconPath }}
          {{ $iconPath.Content | safeHTML }}
          {{ else }}
          {{ $type }}
          {{ end }}
        </a>
        {{ end }}
        {{ end }}
      </div>
    </div>

  </div>
</section>
{{ end }}