{{ $title := .Site.Title }}
{{ $logoDark := resources.Get "logo.png" }}
{{ $logoLight := resources.Get "logo2.png" }}

<section class="mx-auto flex max-w-(--breakpoint-xl) items-center justify-between p-4">
  <!-- Logo -->
  <a href="{{ .Site.BaseURL }}" class="flex items-center space-x-3">
    {{ with $logoLight }}
      {{ $logo := .Filter (images.Process "resize 120x120 webp") }}
      <img
        src="{{ $logo.RelPermalink }}"
        class="custom-logo-light h-8 w-8"
        alt="Logo Light"
      />
    {{ end }}

    {{ with $logoDark }}
      {{ $logo := .Filter (images.Process "resize 120x120 webp") }}
      <img
        src="{{ $logo.RelPermalink }}"
        class="custom-logo-dark h-8 w-8"
        alt="Logo Dark"
      />
    {{ end }}

    <span class="self-center whitespace-nowrap text-2xl font-semibold text-black dark:text-white">
      {{ $title }}
    </span>
  </a>

  <!-- Right controls -->
  <div class="flex items-center space-x-6">
    <!-- Theme toggle -->
    <button
      id="theme-toggle"
      type="button"
      aria-label="theme-switcher"
      class="flex items-center justify-center"
    >
      <svg
        id="theme-toggle-dark-icon"
        class="hidden h-6 w-6"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8 0 1010.586 10.586z"
        ></path>
      </svg>

      <svg
        id="theme-toggle-light-icon"
        class="hidden h-6 w-6"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0z"
        />
      </svg>
    </button>

    <!-- Hamburger (always visible) -->
    <button
      id="hamburger-button"
      class="text-3xl text-black dark:text-white"
      aria-label="menu"
    >
      ☰
    </button>
  </div>
</section>
